@mixin for-mobile {
  @media (max-width: 499px) {
    @content;
  }
}
@mixin for-tablet {
  @media (min-width: 500px) and (max-width: 800px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 800px) {
    @content;
  }
}

.register {
  border: 2px solid red;
  width: 70%;
  margin: 2rem auto 0px;
  background: grey;
  padding-bottom: 0.45rem;

  @include for-tablet() {
    width: 57%;
    padding-bottom: 0.5rem;
  }
  @include for-desktop() {
    width: 45%;
    padding-bottom: 0.5rem;
  }
  h2 {
    font-style: italic;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;

    label {
      display: flex;
      flex-direction: column;
      margin: 0.3rem;
      @include for-tablet() {
        flex-direction: row;
        width: 70%;
        margin: 0.5rem auto;
        justify-content: flex-end;
        // margin: auto;
      }
      @include for-desktop() {
        flex-direction: row;
        width: 70%;
        margin: 0.5rem auto;
        justify-content: flex-end;
      }
      input {
        width: 60%;
        margin: 0.25rem auto 0;
        display: flex;
        flex-direction: column;
        @include for-tablet() {
          margin: 0px 0.25rem;
        }
        @include for-desktop() {
          margin: 0px 0.5rem;
        }
      }
    }
    button {
      width: 45%;
      background: darkgrey;
      margin: 0.5rem auto 1rem;
      @include for-tablet() {
        width: 40%;
      }
      @include for-desktop() {
        width: 25%;
      }
    }
  }
}
