@mixin for-mobile {
  @media (max-width: 499px) {
    @content;
  }
}
@mixin for-tablet {
  @media (min-width: 500px) and (max-width: 800px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 800px) {
    @content;
  }
}

.journal {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  .entries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .entry {
      border: 2px solid black;
      width: 45%;
      margin: 1em auto;
      padding: 0.5em 0 0.5em;
      background: whitesmoke;
      button {
        margin-right: 0.5em;
      }
    }
  }
  .no-entries {
    display: flex;
    flex-direction: column;
    margin: auto;
    button {
      padding: 1em;
      border-radius: 50%;
      width: 45%;
      margin: auto;
      font-size: 1.25rem;
      box-shadow: 2px 2px grey;
      // &:focus {
      // box-shadow: none;
      // }
    }
  }
}
